.formCart {
  width: 40vw;
  margin: 0 5vw;
  border: 1px solid black;
  padding: 1rem;
  height: 70vh;
}
.nameInput {
  margin-left: 0;
  font-size: 18px;
}
.containerInput {
  position: relative;
  width: 36vw;
  height: 17.5vh;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}
.inputInformation {
  width: 30vw;
}
.cartBox {
  border: 1px solid black;
  width: 40vw;
  height: 70vh;
  margin: 0 5vw;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.productList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 2vh 0;
  border: 1px solid black;
}
.conteinerCart {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cartName {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.productList img {
  height: 30vh;
  border-right: 1px solid black;
}
.footer {
  display: flex;
  margin-top: 2vh;
  justify-content: end;
}
.submit {
  background-color: antiquewhite;
  border: 1px solid black;
  border-radius: 10px;
  width: 10vw;
  font-size: 22px;
  margin: 0 5vw;
}
